.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    padding: 5px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
    color: rgba(20, 5, 5, 0.942);
}

.dialog img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }